body {
    animation-name: body_onload;
    animation-duration: 5s;
}

.jm_pontoart {
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    animation-name: imagens_onload;
    animation-duration: 5s;
    transform: scale(0.75);
}

.carrosel_portifolio {
    animation-name: hide-show_carrosel;
    animation-duration: 5s;
}

.container_btn {
    animation-name: hide-show_btn;
    animation-duration: 5s;
}

nav {
    margin-bottom: 3rem;
}

#carrosel1 {
    height: 100%;
    animation-name: hide-show_carrosel;
    animation-duration: 5s;
}

.carousel-inner {
    height: 100%;
    animation-name: hide-show_carrosel;
    animation-duration: 5s;
}

.carousel-item {
    height: 100%;
}



.btn_instagram {
    color: #fff;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

@keyframes body_onload {
    0% {
        background-color: #eaf2d7;
    }

    90% {
        background-color: #eaf2d7;

    }

    100% {
        background-color: #cdb4db;
    }
}

@keyframes imagens_onload {
    0% {
        transform: scale(1);
    }

    60% {
        transform: scale(1);
    }

    90% {
        transform: scale(0.75);
    }
}

@keyframes hide-show_carrosel {
    0% {
        max-height: 0;
        opacity: 0;
    }

    90% {
        opacity: 0;
        max-height: 0;
    }

    100% {
        opacity: 1;
        max-height: 600px;
    }

}

@keyframes hide-show_btn {
    0% {
        opacity: 0;
        max-height: 0;
    }

    90% {
        opacity: 0;
        max-height: 0;
    }

    100% {
        max-height: 150px;
        opacity: 1;
    }

}
#dev_igor {
    animation-name: hide-show_btn;
    animation-duration: 5s;
}