body {
    animation: body_onload_portifolio 5s none;
    background-color: #eaf2d7;
}
section {
    width: 100%;
}
header {
    width: 99%;
}
header h2 {
    margin: 3rem 0;
}
nav {
    width: 99%;
    border-radius: 0 0 .5rem .5rem;
    position: fixed;
    top: 0;
}
.navbar_color {
    background-color: #6B2D5C;
}
.navbar_txt {
    color: #F9F1F7;
}
.navbar-brand {
    display: flex;
    align-content: center;
    gap: 1rem;
}
.navbar-brand img {
    width: 4rem;
    height: auto;
}
.navbar-brand h1 {
    display: inline;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: inherit ;
    font-size: 2.4rem;
    flex-grow: 1;
    font-family: Caveat;
}
.pagina_sub {
    padding-top: 6rem;
}
@keyframes body_onload_portifolio {
    0% {
        background-color: #cdb4db;
    }

    90% {
        background-color: #cdb4db;

    }

    100% {
        background-color: #eaf2d7;
    }
}
.titulo_carrosel div h5 {
    margin-bottom: calc(8rem - 2.5vw) ;
    font-weight: 900;
}

.titulo_carrosel > img {
    filter: blur(5px);
}
.titulo_carrosel div button {
    height: 3rem;
}
.btn_carrosel_imagens {
    background-color: rgba(0, 0, 0, 0.5);
    padding: .1 .4rem;
}